drupal:
  core: "7"
  root: build
  base_url: http://127.0.0.1:8888
  database:
    host: "127.0.0.1"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  post_install:
    - "./vendor/bin/drush --root=$(pwd)/build en -y composer_autoloader search_api_europa_search"
    - "./vendor/bin/drush --root=$(pwd)/build dis -y overlay update"

commands:
  drupal:site-setup:
    - { task: "chmod", file: "${drupal.root}/sites", permissions: 0774, recursive: true }
    - { task: "symlink", from: "../../../../..", to: "${drupal.root}/sites/all/modules/custom/search_api_europa_search" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:behat" }
    - { task: "run", command: "setup:phpunit" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
